altgraph==0.17.2
auto-py-to-exe==2.21.1
bottle==0.12.23
bottle-websocket==0.2.9
cffi==1.15.1
Eel==0.14.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
imageio==2.21.0
imageio-ffmpeg==0.4.7
keyboard==0.13.5
numpy==1.23.1
pefile==2022.5.30
Pillow==9.2.0
progress==1.6
pycparser==2.21
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
pypiwin32==223
pystray==0.19.4
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0
screen-brightness-control==0.15.3
six==1.16.0
whichcraft==0.6.1
win10toast==0.9
winshell==0.6
WMI==1.5.1
zope.event==4.5.0
zope.interface==5.4.0
