Pillow
PyQt6
pyqtgraph
pyqtdarktheme
customtkinter
sv-ttk
ttkbootstrap
keyboard
imageio
imageio-ffmpeg
# psutil
PyYAML
pystray
pyinstaller_versionfile
requests
# progress
screen-brightness-control
auto-py-to-exe